*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/classes/context-application.xml
target/classes/context-emailengine.xml
target/classes/context-persistence.xml
target/classes/hibernate.cfg.xml
target/classes/hibernate.reveng.emailengine.xml
target/classes/hibernate.reveng.xml
target/classes/jdbc.properties
target/classes/log4j.properties
target/classes/logback.xml
target/classes/message.properties
target/classes/sms-templates.properties
target/classes/systemconf.properties
target/classes/emailengine/templates/WL-REG-01-RegisterConfirm/content.html
target/classes/emailengine/templates/WL-REG-01-RegisterConfirm/subject.txt
target/classes/emailengine/templates/WL-REG-02-RetrievePassword/content.html
target/classes/emailengine/templates/WL-REG-02-RetrievePassword/subject.txt
target/classes/emailengine/templates/WL-REG-03-RegisterAuditFailure/content.html
target/classes/emailengine/templates/WL-REG-03-RegisterAuditFailure/subject.txt
target/classes/emailengine/templates/WL-REG-04-RegisterAuditSuccess/content.html
target/classes/emailengine/templates/WL-REG-04-RegisterAuditSuccess/subject.txt
target/classes/net/freecoder/emailengine/vo/EmailTask.hbm.xml
target/classes/net/freecoder/emailengine/vo/EmailTaskAttr.hbm.xml
target/classes/net/freecoder/emailengine/vo/EmailTaskAttrHistory.hbm.xml
target/classes/net/freecoder/emailengine/vo/EmailTaskHistory.hbm.xml
target/classes/net/freecoder/emailengine/vo/EmailTemplate.hbm.xml
target/classes/net/freecoder/restdemo/model/jaxb.properties
target/classes/net/freecoder/restdemo/model/WlsActivity.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsAlbum.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsAlbumEntry.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsAlbumPhoto.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsCityCode.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsLog.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMaterialAudio.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMaterialImage.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMaterialImagetext.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMaterialMultiImagetext.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMaterialText.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMaterialVideo.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMwsSiteConfig.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsMwsSiteEntry.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsReplyAuto.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsReplyKeyword.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsReplySubscribe.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopCategory.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopConfig.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopEntry.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopItem.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopOrder.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopOrderItem.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopPromotionPoints.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsShopVip.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsSmsHistory.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsTag.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsTagMaterial.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsUser.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsUserPay.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsVip.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsVipAddress.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsVipPointsHistory.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsVipStatistics.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsWxAccount.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsWxAccountExt.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsWxMenu.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsWxMessage.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsWxReceivedMessage.hbm.xml
target/classes/net/freecoder/restdemo/model/WlsWxRepliedMessage.hbm.xml
target/test-classes/test-context-application.xml
.vscode/settings.json
